
<div style="margin-top:5%; margin-left:10%">
  
  <div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" ngNativeValidate>

      <div *ngFor="let field of formFields">
          <mat-form-field class="example-full-width" *ngIf="field.type.name=='string' && !field.properties.hasOwnProperty('array')">
          <input matInput type="text" name={{field.id}} placeholder={{field.label}} ngModel   >
          </mat-form-field>
          <mat-checkbox *ngIf="field.type.name=='boolean'" ngModel name={{field.id}}>{{field.label}}</mat-checkbox>
          <mat-form-field class="example-full-width" *ngIf="field.type.name=='long'">
            <input matInput type="number" name={{field.id}} placeholder={{field.label}} ngModel >
          </mat-form-field>

        
          <select name="field.id" *ngIf="field.type.name=='enum'">
            <option *ngFor="let val of enumValues" value={{val}}>
              {{field.type.values[val]}}
            </option>
          </select>

          <div style="margin-top:10px" *ngIf="field.properties.hasOwnProperty('array')">
            <div *ngFor="let sf of scientificAreas">
              <button style="float:left;margin-right:5px;margin-bottom:5px" mat-stroked-button>{{sf}}</button>
            </div>
            <mat-form-field style="margin-right:5px" class="example-full-width" >
            <input matInput type="text"  placeholder="Scientific area" name="asd"  [(ngModel)]="scientificArea">
            </mat-form-field>
            <button mat-raised-button type="button" (click)="this.addField()">Add scientific field</button>
          </div>
      </div>
      
      <button mat-raised-button type="submit">Submit</button>
    </form>
  </div>
</div>
